@model ContactViewModel

<div class="p-3">
    <h1 class="text-dark">@Model.TextRepository.GetTranslatedValue("contact_header", Context)</h1>
    <div class="w-100">
        <div class="d-half-column pt-3 pr-4">
            <table class="table">
                <tr>
                    <td><b>@Model.TextRepository.GetTranslatedValue("contact_telephone", Context):</b></td>
                    <td>@Model.TextRepository.GetTranslatedValue("contact_telephone_number", Context)</td>
                </tr>
                <tr>
                    <td><b>@Model.TextRepository.GetTranslatedValue("contact_email", Context)</b></td>
                    <td>@Model.TextRepository.GetTranslatedValue("contact_email_address", Context)</td>
                </tr>
            </table>
        </div>
        <div class="d-half-column pt-3 pl-4">
            <form method="post" asp-controller="Contact" asp-action="SendMessage">
                <div class="form-group">
                    <label>@Model.TextRepository.GetTranslatedValue("contact_message_instruction", Context)</label>
                    <textarea id="content" name="content" class="form-control"></textarea>
                </div>
                <div class="text-center">
                    <input type=submit class="btn btn-primary" value="@Model.TextRepository.GetTranslatedValue("send", Context)" />
                </div>
            </form>
        </div>
    </div>
</div>