@model NewsManageViewModel

<div class="p-3">
    <table class="table table-striped">
        <thead>
            <tr class="text-center text-primary font-weight-bold">
                <td>@Model.TextRepository.GetTranslatedValue("photo", Context)</td>
                <td>@Model.TextRepository.GetTranslatedValue("header", Context)</td>
                <td class="hidden-md">@Model.TextRepository.GetTranslatedValue("newsfeed_last_modified", Context)</td>
                <td colspan="2">
                    <form method="post" asp-controller="NewsfeedEditor" asp-action="DeleteOlderThan">
                        <button type="submit" class="btn btn-danger">
                            @Model.TextRepository.GetTranslatedValue("newsfeed_delete_older_than", Context)
                        </button>
                        <select name="numberOfDays">
                            <option value="7">@Model.TextRepository.GetTranslatedValue("week", Context)</option>
                            <option value="30">@Model.TextRepository.GetTranslatedValue("month", Context)</option>
                            <option value="90">@Model.TextRepository.GetTranslatedValue("three_months", Context)</option>
                            <option value="-1">@Model.TextRepository.GetTranslatedValue("all", Context)</option>
                        </select>
                    </form>
                    @Model.TextRepository.GetTranslatedValue("delete_older_than", Context)
                </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var element in Model.NewsRepo.News)
            {
                <tr class="text-center">
                    <td class="text-center"><img class="img-editor" src="@element.ImageUrl" /></td>
                    <td class="align-middle">@Model.TextRepository.GetTranslatedValue(element.Header, Context)</td>
                    <td class="align-middle hidden-md">@element.Timestamp</td>
                    <td class="align-middle">
                        <a asp-controller="NewsfeedEditor"
                           asp-action="UpdateNews"
                           asp-route-id="@element.ID"
                           class="btn btn-primary">@Model.TextRepository.GetTranslatedValue("edit", Context)</a>
                    </td>
                    <td class="align-middle">
                        <a asp-controller="NewsfeedEditor"
                           asp-action="DeleteNews"
                           asp-route-ID="@element.ID"
                           class="btn btn-danger">@Model.TextRepository.GetTranslatedValue("delete", Context)</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>