@model NewsSuccessViewModel

<div class="p-3">
    <h1>@Model.TextRepository.GetTranslatedValue("success_changes_saved", Context)</h1>
    <a asp-controller="NewsfeedEditor" asp-action="UpdateNews" asp-route-id="@Model.Id" class="btn btn-primary">
        @Model.TextRepository.GetTranslatedValue("back_to_edit", Context)
    </a>
    <a asp-controller="NewsfeedEditor" asp-action="AddNews" class="btn btn-primary">
        @Model.TextRepository.GetTranslatedValue("add_new_element", Context)
    </a>
    <a asp-controller="NewsfeedEditor" asp-action="ManageNews" class="btn btn-primary">
        @Model.TextRepository.GetTranslatedValue("go_to_manager", Context)
    </a>
</div>