@model IEnumerable<News>

<h1 class="text-dark">Aktualności</h1>
<div asp-validation-summary="All"></div>
@foreach (var news in Model)
{
    <div class="d-newsfeed">
        @if (news.ImageUrl != null)
        {
            <div class="d-newsfeed-imagewrapper d-inline-block">
                <img class="img-newsfeed" src="@news.ImageUrl" />
            </div>
        }
        <div class="@(news.ImageUrl == null ? "w-99" : "w-69") d-inline-block d-newsfeed-text" style="vertical-align: top">
            @if (news.Header != null)
            {
                <h3 class="d-inline-block">@news.Header</h3>
            }
            <p class="d-inline-block newsfeed-timestamp">Dodano: @news.Timestamp</p>
            <p class="text-justify">@news.Text</p>
        </div>
    </div>
}