@model NewsfeedViewModel

<div class="p-3">
    <h1 class="text-dark">@Model.TextRepository.GetTranslatedValue("news_header", Context)</h1>
    @foreach (var news in Model.News)
    {
        <div class="d-newsfeed">
            <div class="d-newsfeed-image-wrapper">
                <img class="img-newsfeed" src="@news.ImageUrl" />
            </div>
            <div class="d-newsfeed-text">
                <div class="d-newsfeed-header">
                    <p class="news-header">@Model.TextRepository.GetTranslatedValue(news.Header, Context)</p>
                </div>
                <div class="d-newsfeed-timestamp">
                    <p>@Model.TextRepository.GetTranslatedValue("newsfeed_last_modified", Context):<br />@news.Timestamp</p>
                </div>
                <div class="w-100">
                    <p class="text-justify">@Model.TextRepository.GetTranslatedValue(news.Text, Context)</p>
                </div>
            </div>
        </div>
    }

    <div class="text-center w-100">
        @if (Model.NewsDisplayed > Model.NewsIncrement)
        {
            <div class="d-inline-flex">
                <form method="post" asp-controller="Newsfeed" asp-action="ShowLess">
                    <input asp-for="NewsDisplayed" type="hidden" value="@Model.NewsDisplayed" />
                    <input asp-for="NewsIncrement" type="hidden" value="@Model.NewsIncrement" />
                    <input type="submit" class="btn btn-primary" value="@Model.TextRepository.GetTranslatedValue("newsfeed_show_less", Context)" />
                </form>
            </div>
        }
        @if (Model.NewsDisplayed < Model.Repo.News.Count())
        {
            <div class="d-inline-flex">
                <form method="post" asp-controller="Newsfeed" asp-action="ShowMore">
                    <input asp-for="NewsDisplayed" type="hidden" value="@Model.NewsDisplayed" />
                    <input asp-for="NewsIncrement" type="hidden" value="@Model.NewsIncrement" />
                    <input type="submit" class="btn btn-primary" value="@Model.TextRepository.GetTranslatedValue("newsfeed_show_more", Context)" />
                </form>
            </div>
        }
    </div>
</div>