<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    
    <div>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse-1"></button>
        <a class="navbar-brand text-light"
           asp-controller="Home"
           asp-action="Index">Urszula Figiel Art</a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="navbar-nav mr-auto">
                
                <!--ABOUT-->
                <li class="nav-item">
                    <a class="nav-link text-light"
                       asp-controller="About"
                       asp-action="Index">@Model.TextRepository.GetTranslatedValue("layout_about", Context)</a>
                </li>

                <!--GALLERY DROPDOWN-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @Model.TextRepository.GetTranslatedValue("layout_gallery", Context)
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        @foreach (var technique in Model.TextRepository.GetAssets("technique_value"))
                        {
                            <li>
                                <a class="dropdown-item"
                                   asp-controller="Gallery"
                                   asp-action="DispatchTechniqueListing"
                                   asp-route-techniqueNameId="@technique.Id"
                                   asp-route-pageNumber="1">@Model.TextRepository.GetTranslatedValue(technique, Context)</a>
                            </li>
                        }
                    </ul>
                </li>

                <!--NEWS-->
                <li class="nav-item">
                    <a class="nav-link text-light"
                       asp-controller="Newsfeed"
                       asp-action="Index">@Model.TextRepository.GetTranslatedValue("layout_news", Context)</a>
                </li>

                <li class="nav-item">
                    <!--CONTACT-->
                    <a class="nav-link text-light"
                       asp-controller="Contact"
                       asp-action="Index">@Model.TextRepository.GetTranslatedValue("layout_contact", Context)</a>
                </li>

                <!--EDITOR DROPDOWN-->
                <li class="nav-item dropdown">
                    @if (Context.User.IsInRole("editor"))
                    {
                        <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @Model.TextRepository.GetTranslatedValue("editor", Context)
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li>
                                <a class="dropdown-item dropdown-toggle" href="#">
                                    @Model.TextRepository.GetTranslatedValue("layout_gallery", Context)
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item"
                                           asp-controller="GalleryEditor"
                                           asp-action="AddGalleryElement">
                                            @Model.TextRepository.GetTranslatedValue("add_to_gallery", Context)
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item"
                                           asp-controller="GalleryEditor"
                                           asp-action="ManageGallery">
                                            @Model.TextRepository.GetTranslatedValue("manage_gallery", Context)
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item dropdown-toggle" href="#">
                                            @Model.TextRepository.GetTranslatedValue("techniques", Context)
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a class="dropdown-item"
                                                   asp-controller="GalleryEditor"
                                                   asp-action="AddTechnique">
                                                    @Model.TextRepository.GetTranslatedValue("add_technique", Context)
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item"
                                                   asp-controller="GalleryEditor"
                                                   asp-action="ManageTechniques">
                                                    @Model.TextRepository.GetTranslatedValue("manage_techniques", Context)
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="dropdown-item dropdown-toggle" href="#">@Model.TextRepository.GetTranslatedValue("layout_news", Context)</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item"
                                           asp-controller="NewsfeedEditor"
                                           asp-action="AddNews">@Model.TextRepository.GetTranslatedValue("add_news", Context)</a>
                                    <li>
                                        <a class="dropdown-item"
                                           asp-controller="NewsfeedEditor"
                                           asp-action="ManageNews">@Model.TextRepository.GetTranslatedValue("manage_news", Context)</a>
                                    </li>
                                </ul>

                            </li>
                            <li>
                                <a class="dropdown-item"
                                   asp-controller="AboutEditor"
                                   asp-action="Index">@Model.TextRepository.GetTranslatedValue("layout_about", Context)</a>
                            </li>
                            <li>
                                <a class="dropdown-item"
                                   asp-controller="ContactEditor"
                                   asp-action="Index">@Model.TextRepository.GetTranslatedValue("layout_contact", Context)</a>
                            </li>
                            @if (Context.User.IsInRole("admin"))
                            {
                                <li>
                                    <a class="dropdown-item"
                                       asp-controller="UsersAdmin"
                                       asp-action="Index">@Model.TextRepository.GetTranslatedValue("manage_users", Context)</a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                       asp-controller="RoleAdmin"
                                       asp-action="Index">@Model.TextRepository.GetTranslatedValue("manage_roles", Context)</a>
                                </li>
                            }
                        </ul>
                    }
                </li>
            </ul>
        </div>
    </div>


    <!--ACCOUNT-->
    <div class="float-right d-inline-flex pr-4" style="position: absolute; right: 0px; top: 5px;">
        <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="https://urszulafigielart.blob.core.windows.net/webappstoragedotnet-imagecontainer/account_icon.png" class="account-icon" />
        </a>
        @if (!Context.User.Identity.IsAuthenticated)
        {
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                <!--LOG IN-->
                <li class="list-inline-item">
                    <a class="nav-link"
                       asp-controller="Users"
                       asp-action="Login">@Model.TextRepository.GetTranslatedValue("layout_login", Context)</a>
                </li>

                <!--REGISTER-->
                <li class="list-inline-item">
                    <a class="nav-link"
                       asp-controller="UsersAdmin"
                       asp-action="CreateUser">@Model.TextRepository.GetTranslatedValue("layout_register", Context)</a>
                </li>
            </ul>
        }
        else
        {
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                <!--WELCOME-->
                <li class="list-inline-item p-2 text-secondary">
                    @Model.TextRepository.GetTranslatedValue("welcome", Context) @Context.User.Identity.Name
                </li>
                <!--MANAGE ACCOUNT-->
                <li class="list-inline-item">
                    <a class="nav-link"
                       asp-controller="Users"
                       asp-action="AccountOverview">@Model.TextRepository.GetTranslatedValue("layout_my_account", Context)</a>
                </li>

                <!--LOG OUT-->
                <li class="list-inline-item">
                    <a class="nav-link"
                       asp-controller="Users"
                       asp-action="Logout">@Model.TextRepository.GetTranslatedValue("layout_logout", Context)</a>

                </li>
            </ul>
        }

        <!--LANGUAGES-->
        <div class="d-flags">
            <div class="d-block mb-1">
                <form method="post" class="flag-icon" asp-controller="Home" asp-action="SetLanguageToPl">
                    <input type="hidden" name="returnUri" value="@Context.Request.PathAndQuery()" />
                    <input type="image" class="flag-icon" src="https://urszulafigielart.blob.core.windows.net/webappstoragedotnet-imagecontainer/polish_flag.png" alt="Polski" />
                </form>
            </div>
            <div class="d-block m-0 p-0">
                <form method="post" class="flag-icon" asp-controller="Home" asp-action="SetLanguageToEn">
                    <input type="hidden" name="returnUri" value="@Context.Request.PathAndQuery()" />
                    <input type="image" class="flag-icon" src="https://urszulafigielart.blob.core.windows.net/webappstoragedotnet-imagecontainer/uk_flag.png" alt="English" />
                </form>
            </div>
        </div>
    </div>
</nav>