@model UserCreateModel

<div class="p-3">
    <div asp-validation-summary=" All" class="text-danger"></div>
    <form asp-action="AddUserAsync" method="post">
        <div class="form-group">
            <label asp-for="Name">@Model.TextRepository.GetTranslatedValue("username", Context)</label>
            <input asp-for="Name" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Email">@Model.TextRepository.GetTranslatedValue("email_address", Context)</label>
            <input asp-for="Email" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Password">@Model.TextRepository.GetTranslatedValue("password", Context)</label>
            <input asp-for="Password" type="password" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="PasswordConfirmation">@Model.TextRepository.GetTranslatedValue("confirm_password", Context)</label>
            <input asp-for="PasswordConfirmation" type="password" class="form-control" />
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">@Model.TextRepository.GetTranslatedValue("create", Context)</button>
            <a asp-action="Index" class="btn btn-secondary">@Model.TextRepository.GetTranslatedValue("cancel", Context)</a>
        </div>
    </form>
</div>