@model UserEditViewModel

<div class="p-3">
    <div asp-validation-summary="All" class="text-danger"></div>
    <form asp-action="EditUser" method="post">
        <div class="form-group">
            <label asp-for="Id">ID</label>
            <input asp-for="Id" class="form-control" value="@Model.Id" disabled />
        </div>
        <div class="form-group">
            <label asp-for="Username">@Model.TextRepository.GetTranslatedValue("username", Context)</label>
            <input asp-for="Username" class="form-control" value="@Model.Username" />
        </div>
        <div class="form-group">
            <label asp-for="Email">@Model.TextRepository.GetTranslatedValue("email", Context)</label>
            <input asp-for="Email" class="form-control" value="@Model.Email" />
        </div>
        <div class="form-group">
            <label asp-for="PhoneNumber">@Model.TextRepository.GetTranslatedValue("telephone_number", Context)</label>
            <input asp-for="PhoneNumber" class="form-control" value="@Model.PhoneNumber" />
        </div>
        <div class="form-group">
            <label asp-for="NewPassword">@Model.TextRepository.GetTranslatedValue("password", Context)</label>
            <input asp-for="NewPassword" class="form-control" />
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">@Model.TextRepository.GetTranslatedValue("save", Context)</button>
            <a asp-action="Index" class="btn btn-secondary">@Model.TextRepository.GetTranslatedValue("cancel", Context)</a>
        </div>
    </form>
</div>