@model UsersManageViewModel

<div class="p-3">
    <table class="table table-sm table-bordered">
        <tr>
            <th>ID</th>
            <th>@Model.TextRepository.GetTranslatedValue("username", Context)</th>
            <th>@Model.TextRepository.GetTranslatedValue("email", Context)</th>
        </tr>
        @if (Model.Users.Count() == 0)
        {
            <tr><td colspan="3" class="text-center">@Model.TextRepository.GetTranslatedValue("no_user_accounts", Context)</td></tr>
        }
        else
        {
            foreach (User user in Model.Users)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                    <td>
                        <form asp-action="DeleteUser" asp-route-id="@user.Id" method="post">
                            <a class="btn btn-sm btn-primary" asp-action="EditUser"
                               asp-route-id="@user.Id">@Model.TextRepository.GetTranslatedValue("edit", Context)</a>
                            <button type="submit" class="btn btn-sm btn-danger">@Model.TextRepository.GetTranslatedValue("delete", Context)</button>
                        </form>
                    </td>
                </tr>
            }
        }
    </table>
    <div class="text-center"><a class="btn btn-primary" asp-action="CreateUser">@Model.TextRepository.GetTranslatedValue("add_user", Context)</a></div>
</div>