@model ArtPieceCreationViewModel

@if (Model.SuccessFlag)
{
    <p class="text-white font-weight-bold text-center bg-success m-0">
        @Model.TextRepository.GetTranslatedValue("operation_successfull", Context)
    </p>
}

<div class="text-center text-white font-weight-bold bg-primary pb-2">
    @switch (@Model.Language)
    {
        case "pl":
            <p>@Model.TextRepository.GetTranslatedValue("edit_language_pl_message", Context)</p>
            break;
        case "en":
            <p>@Model.TextRepository.GetTranslatedValue("edit_language_en_message", Context)</p>
            break;
        default:
            <p>@Model.TextRepository.GetTranslatedValue("edit_language_pl_message", Context)</p>
            break;
    }
    <a asp-controller="GalleryEditor" asp-action="ChangeLanguageToPl" asp-route-id="@Model.Id" class="btn btn-secondary w-25">
        @Model.TextRepository.GetTranslatedValue("language_version_pl", Context)
    </a>
    <a asp-controller="GalleryEditor" asp-action="ChangeLanguageToEn" asp-route-id="@Model.Id" class="btn btn-secondary w-25">
        @Model.TextRepository.GetTranslatedValue("language_version_en", Context)
    </a>
</div>

<div class="p-3">
    <div asp-validation-summary="All" class="text-danger"></div>
    <form id="form" method="post" enctype="multipart/form-data" asp-controller="GalleryEditor" asp-action="UploadAsync">
        <div class="form-group">
            <label asp-for="Name">@Model.TextRepository.GetTranslatedValue("name", Context)</label>
            <input asp-for="Name" class="form-control" value="@Model.Name" />
        </div>
        <div class="form-group">
            <label asp-for="Description">@Model.TextRepository.GetTranslatedValue("description", Context)</label>
            <input asp-for="Description" class="form-control" value="@Model.Description" />
        </div>
        <div class="form-group">
            <label asp-for="Dimensions">@Model.TextRepository.GetTranslatedValue("dimensions", Context)</label>
            <input asp-for="Dimensions" class="form-control" value="@Model.Dimensions" />
        </div>
        <div class="form-group">
            <label asp-for="Technique">@Model.TextRepository.GetTranslatedValue("technique", Context)<span class="text-danger font-weight-bold">*</span></label>
            <select asp-for="Technique"
                    asp-items="@(new SelectList(Model.Techniques().Select(t => Model.TextRepository.GetTranslatedValue(t.Name, Context))))"
                    class="form-control" value="@Model.Technique"></select>
        </div>
        <div class="form-group">
            <label asp-for="CreationDate">@Model.TextRepository.GetTranslatedValue("creation_date", Context)</label>
            <input asp-for="CreationDate" placeholder="rrrr / mm-rrrr" class="form-control" value="@Model.CreationDate" />
        </div>
        <div class="form-group">
            <label asp-for="AdditionalInfo">@Model.TextRepository.GetTranslatedValue("additional_info", Context)</label>
            <textarea asp-for="AdditionalInfo" class="form-control" value="@Model.AdditionalInfo"></textarea>
        </div>
        <div class="form-group">
            <label asp-for="ForSale">@Model.TextRepository.GetTranslatedValue("for_sale", Context)<span class="text-danger font-weight-bold">*</span></label>
            <input asp-for="ForSale" />
        </div>
        <div class="form-group">
            @if (Model.ImageUri != null)
            {
                <label>@Model.TextRepository.GetTranslatedValue("choose_photo", Context)<b>(@Model.TextRepository.GetTranslatedValue("skip_to_keep", Context))</b><span class="text-danger font-weight-bold">*</span></label>
                <input asp-for="ImageUri" type="hidden" />
            }
            else
            {
                <label>@Model.TextRepository.GetTranslatedValue("choose_photo", Context)<span class="text-danger font-weight-bold">*</span></label>
            }
            <input type="file" class="btn" id="file" name="files" accept="image" />
        </div>
        <input asp-for="Language" type="hidden" value="@Model.Language" />
        <input asp-for="Id" type="hidden" value="@Model.Id" />
        <div class="text-center">
            <input type="submit" class="btn btn-primary" id="submitButton" value="@Model.TextRepository.GetTranslatedValue("save", Context)" />
            <a asp-controller="GalleryEditor" asp-action="ManageGallery" class="btn btn-secondary">@Model.TextRepository.GetTranslatedValue("cancel", Context)</a>
        </div>
    </form>
    <p id="processingText" class="invisible">@Model.TextRepository.GetTranslatedValue("processing", Context)</p>
</div>

<script>
    document.getElementById("submitButton").onclick = function () {
        this.classList.remove("btn-primary");
        this.classList.add("btn-secondary");
        this.value = document.getElementById("processingText").innerHTML;
    }
</script>