@model IGalleryRepository

<div class="p-3">
    <table class="table table-striped">
        <thead>
            <tr class="text-center text-primary font-weight-bold">
                <td>Zdjęcie</td>
                <td>Nazwa</td>
                <td>Wymiary</td>
                <td>Technika</td>
                <td>Na sprzedaż</td>
                <td>Data utworzenia</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var element in Model.ArtPieces)
            {
                <tr class="text-center">
                    <td class="text-center"><img class="img-editor" src="@element.ImageUri" /></td>
                    <td class="align-middle">@element.Name</td>
                    <td class="align-middle">@element.Dimensions</td>
                    <td class="align-middle">@element.Technique</td>
                    <td class="align-middle">@(element.ForSale ? "Tak" : "Nie")</td>
                    <td class="align-middle">@element.CreationDate</td>
                    <td class="align-middle">
                        <a asp-controller="GalleryEditor"
                           asp-action="UpdateGalleryElement"
                           asp-route-id="@element.ID"
                           class="btn btn-primary">Zmień</a>
                    </td>
                    <td class="align-middle">
                        <a asp-controller="GalleryEditor"
                           asp-action="DeleteGalleryElement"
                           asp-route-ID="@element.ID"
                           class="btn btn-primary">Usuń</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>